<% content_for :title do %>Mascotas<% end %>
<% content_for :description do %>Sitio Web para tu mascota<% end %> <section> 
<section>
<div class="row">

<div class="small-6 large-2 columns"><%= image_tag "imagen3.jpg" %></div> <div class="small-6 large-8 columns"><%= image_tag "imagen1.jpg" %></div> <div class="small-12 large-2 columns"><%= image_tag "imagen2.jpg" %></div>

</div>
</section>
<section>
<div class="column"> <h4>Mantengase informado</h4> </div> <br /> <div class="column">

<div class="form-centered">
<%= simple_form_for @visitante do |f| %>

<%= f.error_notification %>
<%= f.input :email, label: false, :placeholder => "Tu dirección de correo..." %> <%= f.button :submit, "Subscribirse a la lista", :class => "Enviar" %>
<% end %>

</div> </div> </section>

<footer class="row">
<div class="small-3 large-3 columns">Derechos de autor 2014</div>
<div class="small-3 large-3 columns">Todos los derechos reservados</div>

</footer>